h1 {
  background: darkblue;
  font-family: sans;
  color: lightgray;
}

h2 {
  background: darkgreen;
  font-family: sans;
  color: lightgray;
}

p {
  font-family: sans;
}

a {
  color: inherit;
  text-decoration-line: none;
}
